*.py[cod]
*~
__pycache__/
.coverage
.coverage.*
.eggs/
.env
.env.*
.idea/
.ipynb_checkpoints/
.mypy_cache/
.nox/
.python-version
.pytest_cache/
.ruff_cache/
.tox/
.venv/
.vscode/
.hypothesis/
.pytype/
*.so
build/
coverage/
dist/
htmlcov/
pip-wheel-metadata/
site/
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*.egg
*.egg-info/
venv/
venv*/
